/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FINE RESET */

/* GENERAL */
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.default{
    margin: 0 auto;
    width: 95%;
}

.flex{
    display: flex;
}

.flex-direction{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-relative{
    position: relative;
}

.allineamento-inline-block{
    display: inline-block;
}
/* FINE GENERAL */

/* MAIN */
main{
    min-width: 27.4rem;
    height: calc(100vh - 4rem);
    overflow: auto;
}

main section{
    width: 90%;
    flex-wrap: wrap;
    padding-top: 4.5rem;
}
    

main article{
    width: 12rem;
    height: 6.6rem;
    margin: .3rem .1rem;
    position: relative;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-size: cover;
    background-position: center;
}

.name-position{
    background-color:rgba(130, 130, 130, .5);
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    padding: .2rem .3rem;
}
/* FINE MAIN */

/* STRUMENTI IN ALTO A DESTRA */
.strumenti-top{
    position: absolute;
    right: 1%;
    top: 2%;
    position: fixed;
    z-index: 2;
}

.speaker-view{
    display: inline-block;
    background-color:rgba(130, 130, 130, .5);
    color: white;
    padding: .3rem .3rem;
    border-radius: .3rem;
}

.freccie{
    display: inline-block;
    background-color:rgba(130, 130, 130, .5);
    color: white;
    padding: .3rem .3rem;
    border-radius: .3rem;
}
/* FINE STRUMENTI IN ALTO A DESTRA */

/* FOOTER */
footer{
    min-width: 27.4rem;
}

footer section{
    width: 100%;
    background-color: #222222;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    min-width: 27.4rem;
}

footer p{
    font-size: .8rem;
}

.video-audio{
    width: 15%;
    color: white;
    font-size: 1.2rem;
    align-items: center;
}

.video{
    text-align: center;
    margin-left: .5rem;
}

.microfono{
    text-align: center;
    margin-left: .5rem;
}

.strumenti-bottom{
    align-items: center;
}

.call-end{
    width: 15%;
    justify-content: flex-end;
    height: 100%;
}

.close-call{
    height: 100%;
    width: 45%;
    background-color:rgba(130, 130, 130, .5);
    color: red;
    font-size: 1rem;
}

.impostazione-strumenti{
    text-align: center;
    color: white;
    margin: 0 .3rem;
}

[class="fa-solid fa-share-from-square"]{
    color: green;
}

